

nav {
  font-size: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  background-color: rgb(45, 76, 66);

}




.aboutUs{
    background-image: url('/images/bgBook.png');
    background-size: cover;
    height: 100vh;

}
